<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-app="test" ng-controller="testController">
	<div class="content">

		<header class="controls-holder container">
			<div class="numbers-holder">
				<input type="number" placeholder="Min number" ng-model="min" ng-change="showNumbers()">
				<input type="number" placeholder="Max number" ng-model="max" ng-change="showNumbers()">
			</div>
			<div class="buttons-holder">
				<button type="button" ng-click="filter = 'all'"  ng-class="{'active': filter == 'all'}">Show all numbers</button>
				<button type="button" ng-click="filter = 'even'" ng-class="{'active': filter == 'even'}">Show even numbers</button>
				<button type="button" ng-click="filter = 'odd'"  ng-class="{'active': filter == 'odd'}">Show odd numbers</button>
			</div>
		</header>

		<div class="results-space container">
      <h2 ng-show="numbers.length > 0">Showing {{ numbers.length }} numbers</h2>
			<div class="buttons-holder">
				<button type="button" ng-click="side = 'left'">Display on the left</button>
				<button type="button" ng-click="side = 'right'">Display on the right</button>
			</div>
		</div>

		<div class="list">
      <ul ng-class="{'left': side == 'left', 'right': side == 'right'}">
        <li ng-repeat="number in numbers">{{ number }}</li>
      <ul>
		</div>
	</div>
</body>
</html>
